#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Education;Qt;
Comment[en_US]=
Comment=
Exec=takla %F
GenericName[en_US]=Text And Keyboard Layout Analyzer
GenericName=Text And Keyboard Layout Analyzer
Icon=/mnt/Personal/Projects/QTProjects/takla/takla/Images/takla.png
MimeType=
Name[en_US]=TAKLA
Name=TAKLA
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.6
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
