[Desktop Entry]
Categories=Education;Qt;
Comment[en_US]=
Comment=
Exec=kla %F
GenericName[en_US]=Text And Keyboard Layout Analyzer
GenericName=Keyboard Layout Analyzer
Icon=/mnt/Personal/Projects/QTProjects/tkla/tkla/Images/tkla512.png
MimeType=
Name[en_US]=tkla
Name=tkla
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.6
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
